<h1>My Borrowed Books</h1>
<ul>
  <% @borrowings.each do |borrowing| %>
    <li>
      <%= borrowing.book.title %> by <%= borrowing.book.author %>
      (Due: <%= borrowing.due_date.strftime("%B %d, %Y") %>)
      <%= button_to "Return", return_book_path(borrowing.book), method: :post %>
    </li>
  <% end %>
</ul>