<h1>Available Books</h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %>
      <% if book.available? %>
        <span style="color: green;">(Available)</span>
      <% else %>
        <span style="color: red;">(Borrowed)</span>
      <% end %>
    </li>
  <% end %>
</ul>